# Telegram Bot Security Configuration
# Set your token here or deploy as environment secret in your hosting provider
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
PORT=3000
NODE_ENV=production

# Master Admin Telegram Chat ID (Your personal Telegram Chat ID for Admin Panel access)
ADMIN_CHAT_ID=6204875999
